In [85]:
import pandas as pd
import numpy as np

data = pd.read_csv('DELAS_PB.txt', header = None)

In [86]:
list_of_words = data[0].unique()

In [87]:
from unidecode import unidecode

words_5_chars = list()

for word in list_of_words:
    if len(word) == 5:
        word = unidecode(word)
        words_5_chars.append(word)

len(words_5_chars)

3637

In [88]:
# import collections

# frequency = collections.Counter(words_5_chars)

# frequency

In [89]:
words = []
bag_of_letters = []
for word in words_5_chars:

    letters = []
    for letter in word:
        letters.append(letter)
        bag_of_letters.append(letter)

    
    words.append(letters)

dataframe_words = pd.DataFrame(words)

In [90]:
import collections
frequency = collections.Counter(bag_of_letters)
dataframe_letters = pd.DataFrame(bag_of_letters,columns=['letter'])
most_used_letters = dataframe_letters['letter'].value_counts()

In [94]:
list_of_pontuations = []

for i in np.arange(dataframe_words.shape[0]):
    pontuation_word = 0
    for letter in dataframe_words.iloc[i].unique():
        pontuation_word += most_used_letters[letter]
    list_of_pontuations.append(pontuation_word)

In [95]:
dataframe_words['points'] = list_of_pontuations

In [98]:
dataframe_words.sort_values('points',ascending=False)

      0  1  2  3  4  points
2325  o  l  e  a  r    9083
2716  r  e  a  t  o    8990
242   a  r  e  t  o    8990
254   a  r  i  l  o    8952
311   a  u  r  e  o    8948
...  .. .. .. .. ..     ...
3577  x  e  x  e  u    2338
1701  j  e  s  s  e    2329
2201  m  u  t  u  m    2178
2181  m  u  c  u  m    2127
1705  j  i  m  m  y    2114

[3637 rows x 6 columns]